.card-list
{
        /* width:85vw;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 20px;
        left: 83px;
    position: relative;
    margin-top: 29px; */
    display: flex;
    flex-direction: row;
        flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;

}