* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.container {
 
  background-image: linear-gradient(to right, #00abffbf , #e1e165);
  max-width: 1000px;
  min-height: 100vh;
  margin: 30px auto;
  padding: 30px;
  border-radius: 20px;
  text-align: center;

}

  
h1{
  font-family: 'Bigelow Rules';
  font-size: 72px;
  color: #2c5357;
}

